.card {
  flex-direction: row;
}

.productImage {
  margin-right: auto;
  img {
    max-width: 100%;
  }
}
.auctionStatus {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.bid-form {
  padding: 15px;
}
