<div class="row product">
  <div class="col-2 productImage">
    <img class="rounded" src="{{product.productImage}}" alt="{{product.productName}}">
  </div>
  <div class="col-4">
    <div class="row">
      <div class="col-12">
        <h6>
          {{product.productName}}
        </h6>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h3>
          {{product.productPrice | currency: 'USD'}}
        </h3>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="row"></div>
    <div class="row">
      <div class="col-12">
        <h6 class="d-flex" *ngIf="productAuctionOpen; else productAuctionEnded" [ngClass]="{'text-danger': timeLeft.asSeconds() < 60, 'text-warning': timeLeft.asSeconds() < 300}">
          <ng-container *ngIf="timeLeft.hours()">
            {{timeLeft.hours()}}h
          </ng-container>
          <ng-container *ngIf="timeLeft.minutes()">
            {{timeLeft.minutes()}}m
          </ng-container>
          {{timeLeft.seconds()}}s left
        </h6>
        <ng-template #productAuctionEnded>
          <h6 class="text-muted">
            Auction closed
          </h6>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<hr class="my-4">
